/* Programmer: Nelly Moseki
   Date:03/04/14
   File: main.css for website FaceMe
*/

/*=== These are default settings ===*/
body{
	font-family: Calibri, sans-serif;
	background-color: #eee;
	font-size: .9em;
	margin: 0;
	padding: .5em .5em;
	color: #424242;
}

p,h1,h2,h3,h4,h5,h6,li{

	margin: 1ex 1em;
}

/*----------------------------------------------------------------------------*/
/* === iFrame formatting  === */

p{
	text-align: justify;
	margin-bottom: .6em; 
}

h2.heading{
	
	text-align: center;
	font-size: 2.1em;
	color:#8A084B;
	
} 



